nav {
 	position: sticky;
	top: 0;
	Z-index: 1;
}

.AGB_Text {
	padding: 2em;
	height: 100vh;
	width: 100wv;
	font-size: clamp(.625em, 1vw + .325em, 3em);
}

.Datenschutzerklärung_Text {
	padding: 2em;
	font-size: clamp(.625em, 1vw + .325em, 3em);
	height: 100vh;
	width: 100vw;
}

footer {
	position: sticky;
	bottom: 0;
	Z-index: 1;
}
