
body {
	background: url("images/Background_Info.png");
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
}
nav {
 	position: sticky;
	top: 0;
	Z-index: 1;
}

main {
		min-height: 100vh;
		
		margin: .625em 7.5em;
		
		display:grid;
		grid-template-columns: repeat (5, 1fr);
		grid-template-rows: 1fr 1fr 1fr;
		grid-gap: .125em;
}


.werbetext {
	grid-rows: 1;
	
	grid-column-start: 1;
	grid-column-end: 6;
	
	align-self: center;
	justify-self: center;
	
	font-size: clamp(.625em, 1vw + .325em, 3em);
	text-align : center-block;
	text-justify: center;
	
	border: 1px solid blue;
	border-radius: 2em;
	padding: 5em 2em;
	background-color: skyblue;
	opacity: 85%;
}

.column {
	grid-column-start: 1;
	grid-column-end: 6;
	
	grid-row-start: 2;
	grid-row-end: 3;
	
	display:grid;
	grid-template-column: 1fr 1fr 1fr;
	
	grid-gap: 20px;
	height : 100%;
	float : left;
}

.column > div{
	grid-rows-start:1;
	grid-rows-end:3;
	
	align-self: center;
	justify-self: center;
	min-width: 250px;
	
	border: 1px solid darkblue;
	border-radius: 2em;
	padding: 4em 2em;
	
	text-align : center-block;
    font-size: clamp(.625em, 1vw + .325em, 3em);
	
	opacity: 85%;
}

	#col1 {
	background-color: lightblue;
	grid-column-start: 1;
	grid-column-end: 2;
}

	#col2 {
	background-color: lightgray;
	grid-column-start: 2;
	grid-column-end: 3;
}

	#col3 {
	background-color: lightblue;
	grid-column-start: 3;
	grid-column-end: 4;
}


.Anmeldung {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 5;
	
	align-self: center;
	justify-self: center;
	

	border: 1px solid blue;
	border-radius: 2em;
	padding: 2em;
	
	justify-content: center;
	align-items: center-block;
	
	background-color: skyblue;
	
	opacity: 100%;	
	line-height: 250%;
}


.Vor-Nachname > input {
	height: 2em;
}

.Nachname {
	padding-left: 1em;
}


.E-mail {
	padding-left: 5em;
}

#E-mail {
	height: 2em;
	width: 15em;
}

#Reisende {
	height: 2em;
}

.Reise_Zeitrau > input {
	height: 2em;
}	

.Ende {
	padding-left: 1em;
}

	
.radio_Angebotwahl {
	padding-left: 3em;
}

.radio_Angebotwahl > input {
	padding-left: 1em;
}


	
#AGB_Datenschutz {
	font-size: 15px;
	line-height: 100%;
}



.buttons {
	
	height: 2em;
	padding; 1em;
}

footer {
	position: sticky;
	bottom: 0;
	Z-index: 1;
}
