#col1 {
  background-color: lightblue;
}
#col2 {
  background-color: lightgray;
}
#col3 {
  background-color: lightblue;
}

.column {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
 
  height : 100%;
  float : left;
}

.column > div{
	margin : 10px;
	border: 1px solid darkblue;
	padding:1em;
	text-align : center-block;
    font-size : 20px;
}

.Anmeldung {
	border: 1px solid blue;
	padding-top:1em;
	padding-left:1em;
	padding-bottom:1em;
	background-color: skyblue;
}
	

#AGB_Datenschutz {
	font-size: 15px;
}
