header  {
  position : absolute;
  top : 0;
  width : 100vw;
}
nav {
  width : 100vw;
  height : 50px;
  z-index : 1;
}
body {
  margin : 0;
  top : 10px;
  position : relative;
  padding-bottom: 55px;
  min-height : 100vw;	

}

main {
  padding-top : 300px;
}

#col1 {
  background-color: lightblue;
}
#col2 {
  background-color:	lightgray;
}
#col3 {
  background-color: lightblue;
}

.column {
  text-align : center-block;
  font-size : 20px;
  width : 29.5%;
  height : 100vh;
  float : left;
  border : 1px solid darkblue;
  margin : 10px;
  padding : 20px;
}
