/* Text Formating */
.section {
  display: flex;
  align-items: center;
}

.section img {
  width: 350px;
  height: auto;
  padding: 30px
}

.section_left p {
  padding-left: 430px;
}

.section_right p {
  padding-right: 430px;
}
