body {
 background: url("./images/Background_Info.png");
 background-size: cover;
}

/* Text Formating */
.section {
  display: flex;
  align-items: center;
  border: 1px solid cyan;
  border-radius: 2em;
  overflow: hidden;
  margin: 2em;
  background: white;
}

.section img {
  width: 350px;
  height: auto;
  padding: 30px
}
