body {
 background: url("./images/platzhalter.png");
 background-size: cover;
}

/* Text Formating */
.section {
  display: flex;
  align-items: center;
  background-color: ;
  border: 1px solid cyan;
  border-radius: 2em;
  overflow: hidden;
  padding: 2em;
	 font-size: 30px;
  background: white;
}

.section img {
  width: 350px;
  height: auto;
  padding: 30px
}
