/* Navigation bar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar_element {
  float: left;
}

.navbar_element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar_element a:hover {
  background-color: #111;
}

/* Footer */
.impressum_bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position:relative;
  bottom:0;
  width:100%;
  min-height:100%
}

.impressum_bar_element {
  float: right;
}

.impressum_bar_element a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.impressum_bar_element a:hover {
  background-color: #111;
}

/* Text Formating */
.section_left img {
  float:left;
}

.section_left p {
  vertical-align:middle;
}

.section_left::after {
  content: "";
  display: block;
  clear: both;
}

.section_right img {
  float:right;
}

.section_left p {
  vertical-align:middle;
}

.section_right::after {
  content: "";
  display: block;
  clear: both;
}
